* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

#home {
    background-color: var(--grey);
}

#aboutMe {
    background-color: var(--white);
}

#getInTouch {
    background-color: var(--white);
}
