@import '../../globals.css';

.work {
    width: 18rem;
    height: 30rem;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    font-family: var(--work-font);
}

.work img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity .2s ease-out;
}

.content h2 {
    position: absolute;
    inset: auto auto 30px 30px;
    margin: 0;
    transition: inset .1s .1s ease-out;
    font-weight: bold;
}

.content h3 {
    position: absolute;
    inset: auto auto 30px 30px;
    opacity: 0;
    margin: 0;
    transition: inset .1s .1s ease-out, opacity .3s ease-out;
    font-weight: normal;
}

.content div {
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity .3s ease-out;
    inset: 240px auto 0px 30px;
    font-size: 15px;
    overflow: scroll;
}

.content div::-webkit-scrollbar {
    display: none;
}

.work:hover h2 {
    inset: auto auto 300px 30px;
    transition: inset .4s ease-out;
}

.work:hover h3 {
    inset: auto auto 260px 30px;
    opacity: 1;
    transition: inset .4s ease-out
}

.work:hover div {
    opacity: 1;
    transition: opacity .5s .1s ease-in;
}

.work:hover img {
    transition: opacity .3s ease-in;
    opacity: 0.6;
}
